.bonuses {
  background: var(--white-bg);
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  &__wrap{
    background: var(--white);
    padding: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 2px
  }
  &__nav{
    background: var(--white);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    font-size: 14px;
    font-family: var(--font-main);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    &-btn{
      display: flex;
      align-items: center;
      transition: color .4s ease;
      &::before, &::after{
        display: block;
        content: "";
        position: relative;
        order: 0;
        width: 8px;
        border-radius: 2px;
        height: 1.4px;
        background: var(--gray);
        transition: background .4s ease;
      }
      &::before{
        transform: rotate(-45deg);
        margin: 0 15px 0 0;
      }
      &::after{
        order: -1;
        transform: rotate(45deg);
        left: 3px;

      }
      &:hover{
        color: var(--blue);
        cursor: pointer;
        &::before, &::after{
          background: var(--blue);
        }
      }
    }
  }

  &__title {
    margin: 0 0 10px 0;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 16px;
    width: 100%;
  }
  &__item{
    display: flex;
    align-items: center;
    background: var(--purple);
    border-radius: 6px;
    padding: 20px;
    color: var(--white);
    &-title{
      font-family: var(--font-title);
      font-size: 18px
    }
    &-text{
      color: var(--second-gray);
      font-size: 16px;
      font-family: var(--font-main);
    }
    &-icon{
      max-width: 60px;
      max-height: 60px;
    }
    &-wrap{
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0 0 5px 15px;
    }
  }
  &__all-link{
    align-self: center;
    display: inline-block;
    padding: 14px 30px 12px;
    font-size: 15px;
    line-height: 20px;

  }
}

@media screen and (max-width: 1024px){
  .bonuses{
    padding: 30px 0 20px;
    display: flex;
    border-radius: 0;
    flex-direction: column;
    margin: 0 0 20px 0;


    &__title{
      margin: 0 auto 10px auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .bonuses{
    padding: 30px 15px 20px;
    &__title{
      width: 100%;
    }
    &__list{
      width: 100%;
    }
    &__all-link{
      width: 100%;
      text-align: center;
    }

  }
}

@media screen and (max-width: 345px) {
  .bonuses{
    &__wrap{
      padding: 15px;
    }
    &__item{
      padding: 15px 10px;
    }
  }
}

@media screen and (max-width: 320px) {
  .bonuses{
    &__item{
      max-width: 80vw;
      &-title{
        font-size: 15px;
      }
      &-text{
        font-size: 13px;
      }
    }

  }
}