.feedback{
  background: var(--white);
  padding: 30px;
  border-radius: 2px;
  margin: 0 0 20px 0;
  &__title{
    margin: 0 0 20px 0;
  }
  &__raiting{
    display: flex;
    align-items: center;
    &-star{
      width: 26px;
      height: 26px;
      &:hover{
        cursor: pointer;
      }
    }
    &-title{
      font-family: var(--font-main);
      font-size: 14px;
      line-height: 20px;
      color: var(--purple-gray);
      text-transform: uppercase;
    }
    &-container{
      display: flex;
      align-items: center;
      margin: 0 0 0 15px;
      gap: 5px;
    }
  }
  &__form{
    width: 100%;
    display: flex;
    input,
    textarea,
    select{
      touch-action: manipulation;
    }
    &-container{
      width: 100%;
    }
    &-avatar{
      width: 80px;
      height: 80px;
      margin: 0 20px 0 0;
      img{
        width: 100%;
        height: auto;
      }
    }
    &-wrap{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 0 15px 0;
    }
    &-switch{
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;
      p{
        font-size: 15px;
        line-height: 20px;
        color: var(--black);
      }
    }
    &-label{
        font-size: 15px;
        line-height: 20px;
        color: var(--black);
      display: inline-block;
      margin: 0 0 7px 0;
    }
    &-input{
      padding: 15px 15px 14px;
      background: var(--second-gray);
      border-radius: 2px;
      color: var(--purple-gray);
      &::placeholder{
        font-size: 15px;
        line-height: 26px;
        color: var(--purple-gray);

      }
      &._error{
        border: 1px solid $red;
      }
    }
    &-btn{
      align-self: center;
      display: inline-block;
      padding: 10px 25px;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.02em;
      margin: 0 0 0 auto;
    }
    &-submit{
      display: flex;
      justify-content: space-between;
    }
  }
  &__questions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: var(--purple);
    width: 100%;
    padding: 10px 10px 10px 20px;
    margin: 0 0 15px 0;
    &-title{
      font-family: var(--font-main);
      font-size: 16px;
      line-height: 25px;
      letter-spacing: -.032em;
      color: var(--white);
    }
    &-btn{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .02em;
      padding: 10px 20px;
    }
  }
}




input[type="checkbox"] {
  display: none;
}


.toggle-switch {
  display: inline-block;
  position: relative;
  width: 50px;
  min-width: 50px;
  height: 25px;
  margin: 0 15px 0 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  &._error{
    border: 1px solid $red;
  }
}

input[type="checkbox"]:checked + .slider {
  background-color: $green;
}


.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-color: var(--white);
  border-radius: 50%;
  transition: transform 0.3s;

}


input[type="checkbox"]:checked + .slider::before {
  transform: translateX(23px);
}

@media screen and (max-width: 1024px) {
  .feedback {
    padding: 30px 15px 20px;
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .feedback{
      &__questions{
        flex-direction: column;
        padding: 20px;
        &-title{
          margin: 0 0 10px 0;
        }
      }
      &__form{
        flex-direction: column;
        &-avatar{
          margin: 0 0 20px 0;
          width: 48px;
          height: 48px;
        }
        &-submit{
          flex-direction: column;
          align-items: center;
        }
        &-btn{
          width: 100%;
          margin: 20px 0 0 0;
        }
      }
    }

  }