<section class="bonuses" id="block1">
    <div class="bonuses__wrap">
        <h2 class="bonuses__title title">Online casino bonuses</h2>
        <ul class="bonuses__list">
            <li class="bonuses__item">
                <div class="bonuses__item-icon">
                    <img src="./img/page3/bonuses/bonuses-item-icon.svg" alt="#"/>
                </div>
                <div class="bonuses__item-wrap">
                    <h2 class="bonuses__item-title">100% up to 400$</h2>
                    <span class="bonuses__item-text">1st Deposit Bonus</span>
                </div>
            </li>
            <li class="bonuses__item">
                <div class="bonuses__item-icon">
                    <img src="./img/page3/bonuses/bonuses-item-icon.svg" alt="#"/>
                </div>
                <div class="bonuses__item-wrap">
                    <h2 class="bonuses__item-title">100% up to 400$</h2>
                    <span class="bonuses__item-text">1st Deposit Bonus</span>
                </div>
            </li>
            <li class="bonuses__item">
                <div class="bonuses__item-icon">
                    <img src="./img/page3/bonuses/bonuses-item-icon.svg" alt="#"/>
                </div>
                <div class="bonuses__item-wrap">
                    <h2 class="bonuses__item-title">100% up to 400$</h2>
                    <span class="bonuses__item-text">1st Deposit Bonus</span>
                </div>
            </li>
            <li class="bonuses__item">
                <div class="bonuses__item-icon">
                    <img src="./img/page3/bonuses/bonuses-item-icon.svg" alt="#"/>
                </div>
                <div class="bonuses__item-wrap">
                    <h2 class="bonuses__item-title">100% up to 400$</h2>
                    <span class="bonuses__item-text">1st Deposit Bonus</span>
                </div>
            </li>
            <li class="bonuses__item">
                <div class="bonuses__item-icon">
                    <img src="./img/page3/bonuses/bonuses-item-icon.svg" alt="#"/>
                </div>
                <div class="bonuses__item-wrap">
                    <h2 class="bonuses__item-title">100% up to 400$</h2>
                    <span class="bonuses__item-text">1st Deposit Bonus</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="bonuses__nav">
        <div class="bonuses__nav-btn">Vis alt</div>
        <div class="bonuses__nav-text">Mer 20 varer</div>
    </div>
</section>