<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link">Casino category</span>
        </div>
        <div class="casino__row">
            <div class="casino__info">
                <div class="casino__info-wrap">
                    <div class="casino__info-image">
                        <picture>
                            <source srcset="img/page3/casino/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/casino/casino-img.png" width="324"
                                 height="128" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino__info-play">
                        <div class="casino__info-play-wrap">
                            <h1 class="casino__info-title">Parimatch</h1>
                        </div>
                        <div class="casino__info-reviews">
                            <div class="casino__info-licensed">
                                <div class="casino__info-licensed-one">Licensed</div>
<!--                                <div class="casino__info-licensed-two">Licensed</div>-->
                            </div>
                            <div class="casino__info-reviews-star">
                                <img src="img/page3/casino/star.svg" alt="star" width="14" height="14">
                                <div class="casino__info-reviews-text">4.5 / 5</div>
                            </div>
                            <div class="casino__info-reviews-comment">
                                <img src="img/page3/casino/comment.svg" alt="comment" width="14" height="14">
                                <div class="casino__info-reviews-text">22 comment</div>
                            </div>
                        </div>
                        <div class="casino__info-buttons">
                            <div class="casino__info-buttons-wrap">
                                <a href="#" class="casino__info-buttons-play purpleV1-btn"
                                   aria-label="button-play">Play now</a>
                                <div class="casino__info-country">
                                    <div class="casino__info-country-wrap">
                                        <div class="casino__info-country-create">Data created: <span>20.08.2022</span></div>
                                        <div class="casino__info-country-update">Lost updated: <span>20.08.2022</span></div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="casino__info-buttons-like burgundy-btn"
                                    aria-label="button-like">
                                <img src="img/page3/casino/like.svg" alt="like" width="17.5" height="14.5">
                            </button>


                        </div>
                    </div>
                </div>
            </div>
            <div class="casino__bonus">
                <div class="casino__bonus-info">
                    <div class="casino__bonus-title">Deposit Bonus</div>
                    <div class="casino__bonus-subtitle">100% up 90,000€ <span class="casino__bonus-copy"></span></div>
                    <div class="casino__bonus-text">1st Deposit Bonus </div>
                </div>
                <div class="casino__bonus-wrap">
                    <a href="#" class="casino__bonus-link black-btn">get bonus</a>
                </div>
            </div>
        </div>
    </div>
</section>