<section class="comments">
    <div class="comments__wrap">
        <h2 class="comments__title title">Advantages and disadvantages</h2>
        <div class="comments__container">
            <div class="comments__item">
                <div class="comments__item-header">
                    <div class="comments__item-avatar">
                        <img src="./img/page3/comments/avatar.png" alt="#">
                    </div>
                    <div class="comments__item-info">
                        <div class="comments__item-name">
                            <span>Name</span>
                            <span>Microgaming</span>
                        </div>
                        <div class="comments__item-date">
                            April 8, 2021
                        </div>
                    </div>
                </div>
                <div class="comments__item-content">
                    To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that our team can only nominate titles that To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that our team only nominates titles that
                </div>
            </div>
            <div class="comments__answer-container">
                <div class="comments__item">
                    <div class="comments__item-header">
                        <div class="comments__item-avatar">
                            <img src="./img/page3/comments/avatar.png" alt="#">
                        </div>
                        <div class="comments__item-info">
                            <div class="comments__item-name">
                                <span>Name</span>
                                <span>Microgaming</span>
                            </div>
                            <div class="comments__item-date">
                                April 8, 2021
                            </div>
                        </div>
                    </div>
                    <div class="comments__item-content">
                        To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that our team can only nominate titles that To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that our team only nominates titles that
                    </div>
                </div>
                <a href="#" class="comments__answer-btn grayV1-btn">to answer</a>
            </div>
        </div>
    </div>
    <div class="comments__nav">
        <div class="comments__nav-btn">Vis alt</div>
        <div class="comments__nav-text">Mer 20 varer</div>
    </div>
</section>