<section class="devices">
  <h2 class="devices__title title">Devices</h2>
  <ul class="devices__list">
    <li class="devices__item">
      <div class="devices__item-icon">
        <img src="./img/page3/devices/android-icon.svg" alt="android"/>
      </div>
      <h3 class="devices__item-title">Android</h3>
    </li>
    <li class="devices__item">
      <div class="devices__item-icon">
        <img src="./img/page3/devices/apple-icon.svg" alt="apple"/>
      </div>
      <h3 class="devices__item-title">MacOS</h3>
    </li>
    <li class="devices__item">
      <div class="devices__item-icon">
        <img src="./img/page3/devices/windows-icon.svg" alt="windows"/>
      </div>
      <h3 class="devices__item-title">Windows</h3>
    </li>
  </ul>
</section>