<section class="feedback">
    <h2 class="feedback__title title">Add your review</h2>
    <div class="feedback__questions">
        <span class="feedback__questions-title">Interested in additional information?</span>
        <a href="#" class="feedback__questions-btn whiteV1-btn">Ask a Question</a>

    </div>
    <form action="#" class="feedback__form">
        <div class="feedback__form-avatar">
            <img src="./img/page3/comments/avatar.png" alt="#">
        </div>
        <div class="feedback__form-container">
            <div class="feedback__form-wrap">
                <input type="text" name="review-title" id="review-title" class="feedback__form-input js-input" placeholder="Post a comment*">
            </div>
            <div class="feedback__form-wrap">
                <input type="text" name="review-name" id="review-name" class="feedback__form-input js-input" placeholder="Pluses">
            </div>
            <div class="feedback__form-wrap">
                <input type="email" name="review-email" id="review-email" class="feedback__form-input js-email" placeholder="Minuses">
            </div>
            <div class="feedback__form-submit">
                <div class="feedback__raiting">
                    <span class="feedback__raiting-title">Your rating:</span>
                    <div class="feedback__raiting-container">
                        <div class="feedback__raiting-star">
                            <img src="./img/page3/feedback/star-active.svg" alt="raiting">
                        </div>
                        <div class="feedback__raiting-star">
                            <img src="./img/page3/feedback/star-active.svg" alt="raiting">
                        </div>
                        <div class="feedback__raiting-star">
                            <img src="./img/page3/feedback/star-active.svg" alt="raiting">
                        </div>
                        <div class="feedback__raiting-star">
                            <img src="./img/page3/feedback/star.svg" alt="raiting">
                        </div>
                        <div class="feedback__raiting-star">
                            <img src="./img/page3/feedback/star.svg" alt="raiting">
                        </div>
                    </div>
                </div>
                <button type="submit" class="feedback__form-btn purpleV1-btn">leave a review</button>
            </div>
        </div>
    </form>
</section>