.purpleV1-btn{
  background: var(--purple);
  color: var(--white);
  border-radius: 2px;
  text-transform: uppercase;
  transition: background $transition;
  &:hover{
    background: #7E4ABD;
  }
}
.transparent-btnV1{
  font-family: var(--font-title);
  text-transform: uppercase;
  color: var(--black);
  border-radius: 2px;
  border: 1px solid var(--purple);
  transition: background-color $transition;
  &:hover{
    background: var(--white);
  }
}

.black-btn{
  background: var(--black);
  border-radius: 2px;
  color: var(--white);
  text-transform: uppercase;
  transition: background $transition;
  &:hover{
    background: #1A1721;
  }


}

.burgundy-btn{
  font-family: var(--font-title);
  text-transform: uppercase;
  color: $salad;
  border-radius: 100px;
  background: $green;
  text-shadow: $shadow-text-2;
  transition: background-color $transition;
  &:hover{
    background: $green-hover;
  }
}

.white-btn{
  font-family: var(--font-title);
  text-transform: uppercase;
  color: var(--black);
  border-radius: 100px;
  background: var(--white);
  box-shadow: $shadow-text-3;
  transition: background-color $transition;
  &:hover{
    background: var(--white);
  }
}


.transparent-btn{
  font-family: var(--font-title);
  text-transform: uppercase;
  color: var(--black);
  border-radius: 100px;
  border: 1px solid $gray-border-btn;
  transition: background-color $transition;
  &:hover{
    background: var(--white);
  }
}


.transparent-salad-btn{
  font-family: var(--font-title);
  text-transform: uppercase;
  color: $salad;
  border-radius: 100px;
  border: 1px solid $salad;
  transition: color $transition;
  &:hover{
    color: $salad-hover;
  }
}


.orange-btn{
  font-family: var(--font-title);
  text-transform: uppercase;
  border-radius: 100px;
  background: $salad;
  color: $green-dark;
  transition: background-color $transition;
  &:hover{
    background: $salad-hover;
  }
}

.grey-btn{
  font-family: var(--font-title);
  text-transform: uppercase;
  border-radius: 100px;
  color: var(--black);
  background: var(--white-bg);
  box-shadow: $shadow-text-3;
  transition: background-color $transition;
  &:hover{
    background: var(--white);
  }
}

.grey-btn-two{
  font-family: var(--font-title);
  text-transform: uppercase;
  border-radius: 200px;
  color: $salad;
  text-shadow: $shadow-text-2;
  background: $green-transparent;
  transition: background-color $transition;
  &:hover{
    background: $green-transparent-hover;
  }
}

